@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.ant-pagination-item-active {
  border-color: rgb(253 224 71 / 1) !important;
  background-color: rgb(253 224 71 / 1) !important;
  font-weight: 400 !important;
}

.ant-pagination-item-active a {
  color: black !important;
}

.ant-pagination-item:hover {
  background-color: rgb(253 224 71 / 1) !important;
}
